.App {
  text-align: center;
}

.btn {
  padding: 5px 20px;
  margin: 5px;
  border: none;
  color: #fff;
  background: black;
  border-radius: 20px;
  transition: border-radius 0.1s;
  transition: padding 0.1s;
}

.btn:hover {
  border-radius: 0px;
  padding: 10px 30px;
}

.btn:active {
  padding: 12px 33px;
  border: 2px solid brown;
}